{% extends 'management_base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <ul class="ul-nav">
        <li ><h1 class="list-h1-nav">Food for Thought</h1></li>
        <li><h2 class="list-h2-nav">Frankie's Italian Cuisine</h2></li>
        <li><a class="list-a-nav" href="{% url 'home' %}">Home</a></li>
        <li><a class="list-a-nav" href="{% url 'inventory' %}">Inventory</a></li>
        <li><a class="list-a-nav" href="{% url 'suppman' %}">Supply Management</a></li>
        <li><a class="list-a-nav" href="{% url 'sales' %}">Sales</a></li>
        <li><a class="list-a-nav" href="{% url 'activeorders' %}">Active Orders</a></li>
    </ul>
    <div style="margin-left:17%;padding:24px 16px;height:1000px;">
    <h1>Active Orders</h1>
        {% if orders %}
        {% for order in orders %}
            <table style="width:67%; margin:0 auto">
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Total before tax</th>
                <th>Paid for?</th>
            </tr>
            <tr>
                <td>{{ order.order }}</td>
                <td>{{ order.custname }}</td>
                <td>${{ order.total }}</td>
                <td>{{ order.paid }}</td>
            </tr>
            <tr>
            <th>Items</th>
            </tr>
             {% for item in order.customerorders_set.all %}
                <tr>
                    <td>{{ item.menu_item_id.name }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
                 {% endfor %}
            {% endfor %}
            </table>
            <h2>Push an order as completed</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.as_p }}
            <input type="submit" value="Mark order completed">
            </form>
        {% else %}
            <p>No active orders</p>
        {% endif %}
    </div>
    <
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}