{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

       li h2 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <ul>
        <li><h1>Food for Thought</h1></li>
        <li><h2>Frankie's Italian Cuisine</h2></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'suppman' %}">Supply Management</a></li>
        <li><a href="{% url 'sales' %}">Sales</a></li>
        <li><a href="{% url 'activeorders' %}">Active Orders</a></li>
    </ul>
    <div style="margin-left:17%;padding:1px 16px;height:1000px;">
    <h1>Inventory</h1>
    <div class="col-md-10 col-12 mx-auto" >
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card" style="width:1000px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="sales-by-product" width="450" height="227">
                            </canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                const ctx = document.getElementById('sales-by-product').getContext('2d');
                                const sales_by_product_chart = new Chart(ctx, {
                                    // The type of chart we want to create
                                    type: 'line',

                                    // The data for our dataset
                                    data: {
                                        labels: ['3/29/21', '3/30/21', '3/31/21', '4/1/21', '4/2/21', '4/3/21', '4/4/21'],
                                        datasets: [{
                                            data: [1000,905,809, 730, 675, 450, 550],
                                            label: "Mozzarella",
                                            borderColor: "#3e95cd",
                                            fill: false
                                          }, {
                                            data: [1000, 915, 745, 625, 477, 330, 243],
                                            label: "Tomato",
                                            borderColor: "#8e5ea2",
                                            fill: false
                                          }, {
                                            data: [800, 780, 750, 600, 521, 467, 450],
                                            label: "Olive Oil",
                                            borderColor: "#3cba9f",
                                            fill: false
                                          }, {
                                            data: [1000, 910, 700, 603, 460, 330, 140],
                                            label: "Yeast",
                                            borderColor: "#e8c3b9",
                                            fill: false
                                          }, {
                                            data: [1000, 950, 830, 747, 689, 543, 1],
                                            label: "Pepperoni",
                                            borderColor: "#c45850",
                                            fill: false
                                          }
                                        ]
                                      },
                                      options: {
                                        title: {
                                          display: true,
                                          text: 'Consumption of Most Popular Inventory'
                                        }
                                      }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <br>
        {% if ingredients and instocks %}
            <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantity (in units)</th>
                <th>Last Restock Date</th>
            </tr>
                {% for ingredients in ingredients %}
                    <tr>
                        <td>{{ ingredients.id }}</td>
                        <td>{{ ingredients.ingredient_name }}</td>
                        <td>{{ ingredients.quantity }}</td>
                        <td>{{ ingredients.restock_date }}</td>
                {% endfor %}
                     </tr>
            </table>
            <h2>Add new ingredient</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.as_p }}
            <input type="submit" value="Add new ingredient">
            </form>
        {% else %}
            <p>Nothing is in stock apparently</p>
        {% endif %}
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}