{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

       li h2 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <ul>
        <li><h1>Food for Thought</h1></li>
        <li><h2>Frankie's Italian Cuisine</h2></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'suppman' %}">Supply Management</a></li>
        <li><a href="{% url 'sales' %}">Sales</a></li>
        <li><a href="{% url 'activeorders' %}">Active Orders</a></li>
    </ul>
    <div style="margin-left:17%;padding:1px 16px;height:1000px;">
    <h1>Inventory</h1>
    <div class="col-md-10 col-12 mx-auto" >
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card" style="width:1000px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="consumption" width="450" height="227" data-url="{% url 'stockConsumption' %}">
                            </canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                             <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
                            <script>
                                $(function () {
                                    let $consumptionChart = $('#consumptionChart');
                                    $.ajax({
                                        url: $consumptionChart.data('url'),
                                        success: function (data) {
                                            const ctx = $consumptionChart[0].getContext('2d');
                                            new Chart(ctx, {
                                                type: 'line',
                                                data: {
                                                    labels: 'Consumption',
                                                    datasets: [{
                                                        label: data.labels[0],
                                                        data:data.data[0],
                                                        backgroundColor: 'red',
                                                    },{
                                                        label: data.labels[1],
                                                        data:data.data[1],
                                                        backgroundColor: 'green',
                                                    }]
                                                },

                                            })
                                        }

                                    })
                                })
                         </script>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <br>
        {% if ingredients and instocks %}
            <table style="width:55%; margin: 0 auto">
            <tr>
                <th>Item</th>
                <th>Quantity (in units)</th>
                <th>Last Restock Date</th>
            </tr>
                {% for ingredients in ingredients %}
                    <tr>
                        <td>{{ ingredients.ingredient_name }}</td>
                        <td>{{ ingredients.quantity }}</td>
                        <td>{{ ingredients.restock_date }}</td>
                {% endfor %}
                     </tr>
            </table>
            <h2>Add new ingredient</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.as_p }}
            <input type="submit" value="Add new ingredient">
            </form>
        {% else %}
            <p>Nothing is in stock apparently</p>
        {% endif %}
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}