{% extends 'management_base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="margin-left:17%;padding:24px 16px;">
        <h1>Recipes</h1>
        <h2 style="color: red">The following items require your attention</h2>
        <table style="width:100%">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity remaining</th>
                    <th>Recommended order quantity</th>
                </tr>
            {% for ingredients in ingredients %}
                {%  if ingredients.quantity < 300 %}
                    <tr>
                        <td>{{ ingredients.ingredient_name }}</td>
                        <td>{{ ingredients.quantity }}</td>
                        <td>500</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}