{% extends 'management_base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div style="margin-left:17%;padding:24px 16px;">
        <h1 style="font-weight: bold">Sales</h1>
        <div class="col-md-10 col-12 mx-auto" >
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="doughnut-chart" width="450" height="450" data-url="{% url 'doughnutChart' %}">
                            </canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                            <script>
                                $(function () {
                                    let $doughnutChart = $("#doughnut-chart");
                                    $.ajax({
                                        url: $doughnutChart.data("url"),
                                        success: function (data) {
                                            const ctx = $doughnutChart[0].getContext("2d");
                                            new Chart(ctx, {
                                                type: "doughnut",
                                                data: {
                                                    labels: data.labels,
                                                    datasets: [{
                                                        label: 'Sales by Product',
                                                        backgroundColor: [
                                                            '#edf5ff',
                                                            '#d0e2ff',
                                                            '#a6c8ff',
                                                            '#78a9ff',
                                                            '#4589ff',
                                                            '#0f62fe',
                                                            '#0043ce',
                                                            '#002d9c',
                                                            '#001d6c',
                                                            '#001141',
                                                        ],
                                                        data: data.data,
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                      display: true,
                                                      text: 'Total Sales per Product'
                                                    }
                                                }
                                            })
                                        }

                                    })
                                })

                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="avg-daily-sales" width="450" height="450" data-url="{% url 'averageDaily' %}"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                $(function () {
                                    let $avgDailyChart = $("#avg-daily-sales");
                                    $.ajax({
                                        url: $avgDailyChart.data("url"),
                                        success: function (data) {
                                            let ctx = $avgDailyChart[0].getContext("2d");
                                            new Chart(ctx, {
                                                type: "bar",
                                                data: {
                                                    labels: data.labels,
                                                    datasets: [{
                                                        label: 'Daily Sales',
                                                        backgroundColor: '#6929c4',
                                                        borderColor: '#6929c4',
                                                        data: data.data
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                      display: true,
                                                      text: 'Average Daily Sales'
                                                    }
                                                }
                                            })
                                        }

                                    })
                                })

                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="avg-weekly-sales" width="450" height="450" data-url="{% url 'averageWeekly' %}"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                $(function () {
                                    let $avgWeeklyChart = $("#avg-weekly-sales");
                                    $.ajax({
                                        url: $avgWeeklyChart.data("url"),
                                        success: function (data) {
                                            let ctx = $avgWeeklyChart[0].getContext("2d");
                                            new Chart(ctx, {
                                                type: "bar",
                                                data: {
                                                    labels: data.labels,
                                                    datasets: [{
                                                        label: 'Weekly Sales',
                                                        backgroundColor: '#009d9a',
                                                        borderColor: '#009d9a',
                                                        data: data.data
                                                    }]
                                                },
                                                options: {
                                                    title: {
                                                      display: true,
                                                      text: 'Average Weekly Sales'
                                                    }
                                                }
                                            })
                                        }

                                    })
                                })

                               //     const weekly_ctx = document.getElementById('avg-weekly-sales').getContext('2d');
                               //     const weekly_chart = new Chart(weekly_ctx, {
                                      // The type of chart we want to create
                               //       type: 'bar',

                                      // The data for our dataset
                                 //     data: {
                                     //   labels: ['Cheese Pizza', 'Meat Lovers', 'Eggplant Parm', 'Chicken Parm', 'Meatball Parm', 'Eggplant Parm Calzone', 'Chicken Parm Calzone', 'Buffalo Chicken Calzone', 'BLT Chicken Salad', 'Cobb Salad'],
                             //  /         datasets: [{
                                  //        label: 'Avg Weekly Sales',
                               //           backgroundColor: '#009d9a',
                               //           borderColor: '#009d9a',

                                 //         data: [245, 168, 126, 161, 63, 161, 119, 203, 112, 56]
                                   //     }]
                                //      },
                                  //    });

                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="revenue-report" width="450" height="450"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                    const rev_ctx = document.getElementById('revenue-report').getContext('2d');
                                    const rev_chart = new Chart(rev_ctx, {
                                      // The type of chart we want to create
                                      type: 'bar',

                                      // The data for our dataset
                                      data: {
                                        labels: ['Cheese Pizza', 'Meat Lovers', 'Eggplant Parm', 'Chicken Parm', 'Meatball Parm', 'Eggplant Parm Calzone', 'Chicken Parm Calzone', 'Buffalo Chicken Calzone', 'BLT Chicken Salad', 'Cobb Salad'],
                                        datasets: [{
                                          label: 'Total Revenue',
                                          backgroundColor: '#a56eff',
                                          borderColor: '#a56eff',
                                          //CHANGE DATA TO REFLECT AVERAGE DAILY SALES
                                          data: [5495, 4325.67, 2997.70, 3246.75, 1438, 3626.7, 3427.50, 5805.85, 2112.65, 1198.8]
                                        }]
                                      },
                                    });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="daily-revenue" width="450" height="450"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                    const drev_ctx = document.getElementById('daily-revenue').getContext('2d');
                                    const drev_chart = new Chart(drev_ctx, {
                                      // The type of chart we want to create
                                      type: 'bar',

                                      // The data for our dataset
                                      data: {
                                        labels: ['Cheese Pizza', 'Meat Lovers', 'Eggplant Parm', 'Chicken Parm', 'Meatball Parm', 'Eggplant Parm Calzone', 'Chicken Parm Calzone', 'Buffalo Chicken Calzone', 'BLT Chicken Salad', 'Cobb Salad'],
                                        datasets: [{
                                          label: 'Daily Revenue',
                                          backgroundColor: '#9f1853',
                                          borderColor: '#9f1853',
                                          //CHANGE DATA TO REFLECT AVERAGE DAILY SALES
                                          data: [200, 135, 70, 25, 13, 55, 32, 175, 1, 11]
                                        }]
                                      },
                                    });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="card" style="width:500px;height:500px;margin-top:30px;">
                        <div class="body">
                            <canvas id="weekly-revenue" width="450" height="450"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                            <script>
                                    const wrev_ctx = document.getElementById('weekly-revenue').getContext('2d');
                                    const wrev_chart = new Chart(wrev_ctx, {
                                      // The type of chart we want to create
                                      type: 'bar',

                                      // The data for our dataset
                                      data: {
                                        labels: ['Cheese Pizza', 'Meat Lovers', 'Eggplant Parm', 'Chicken Parm', 'Meatball Parm', 'Eggplant Parm Calzone', 'Chicken Parm Calzone', 'Buffalo Chicken Calzone', 'BLT Chicken Salad', 'Cobb Salad'],
                                        datasets: [{
                                          label: 'Weekly Revenue',
                                          backgroundColor: '#198038',
                                          borderColor: '#198038',
                                          //CHANGE DATA TO REFLECT AVERAGE DAILY SALES
                                          data: [1300, 910, 490, 175, 191, 385, 220, 1100, 150, 77]
                                        }]
                                      },
                                    });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}