{% extends 'management_base.html' %}

{% block title %}Inventory{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <ul class="ul-nav">
        <li ><h1 class="list-h1-nav">Food for Thought</h1></li>
        <li><h2 class="list-h2-nav">Frankie's Italian Cuisine</h2></li>
        <li><a class="list-a-nav" href="{% url 'home' %}">Home</a></li>
        <li><a class="list-a-nav" href="{% url 'inventory' %}">Inventory</a></li>
        <li><a class="list-a-nav" href="{% url 'suppman' %}">Supply Management</a></li>
        <li><a class="list-a-nav" href="{% url 'sales' %}">Sales</a></li>
        <li><a class="list-a-nav" href="{% url 'activeorders' %}">Active Orders</a></li>
    </ul>
    <div style="margin-left:17%;padding:24px 16px;height:1000px;">
        <h1>Supply Management</h1>
        <h2 style="color: red">The following items require your attention</h2>
        <table style="width:100%">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity remaining</th>
                    <th>Recommended order quantity</th>
                </tr>
            {% for ingredients in ingredients %}
                {%  if ingredients.quantity < 300 %}
                    <tr>
                        <td>{{ ingredients.ingredient_name }}</td>
                        <td>{{ ingredients.quantity }}</td>
                        <td>500</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <h2>Submit new order</h2>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.as_p }}
            <input type="submit" value="Add new ingredient">
            </form>
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}