{% extends 'customer_base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
    <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Customer Home</a></li>
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
    </ul>
    <div style="margin-left:17%; padding:24px 16px; height:100%;">
        <h1 style="font-weight: bolder">Set a new password!</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Change my password">
        </form>

        {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
{% endif %}
{% endblock %}