{% extends 'customer_base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block stylesheet %}
{%  endblock %}


{% block content %}
    <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Customer Home</li>
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
    </ul>
    <div style="margin-left:17%; padding:24px 16px; height:100%;">
          <h1 style="font-weight: bolder">Forgot your password?</h1>
          <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send me instructions!">
          </form>
    </div>
{% endblock %}