{% extends 'customer_base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Customer Home</li>
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
    </ul>
    <div style="margin-left:17%; padding:24px 16px; height:100%;">
  <h1 style="font-weight: bolder">Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %}