{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

       li h2 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <ul>
        <li><h1>Food for Thought</h1></li>
        <li><h2>Frankie's Italian Cuisine</h2></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'suppman' %}">Supply Management</a></li>
        <li><a href="{% url 'sales' %}">Sales</a></li>
        <li><a href="{% url 'home' %}">Recipes</a></li>
    </ul>
    <div style="margin-left:17%;padding:1px 16px;height:1000px;">
        <h1>Welcome, {{ user.username }}!</h1>
        <h2><a>Welcome to the Food For Thought interface.</a></h2>
        <h2><a>Notifications: </a></h2>

        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
{% else %}
  <ul>
      <li><h1>Food for Thought</h1></li>
  </ul>
  <div style="margin-left:17%;padding:1px 16px;height:1000px;">
    <p>This is the restaurant management site. Employees, please log in below.</p>
    <a href="{% url 'login' %}">Employee Log In</a>
  </div>
{% endif %}
{% endblock %}