{% extends 'management_base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff %}
    <div style="margin-left:17%;padding:24px 16px;">
        <h1 style="font-weight: bold">Welcome, {{ user.username }}!</h1>
        <h2 style="font-style: oblique">Welcome to the Food For Thought management interface.</></h2>

        <p><a href="{% url 'logout' %}">Log Out</a></p>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    </div>
{% else %}
  <ul>
      <li><h1>Food for Thought</h1></li>
      <li><h2>Frankie's Italian Cuisine</h2></li>
      <li><a href="{% url 'cust_home' %}">Customer Home</a></li>
  </ul>
  <div style="margin-left:17%;padding:1px 16px;height:1000px;">
    <meta http-equiv="refresh" content="0; URL={% url "cust_home" %}"/>
  </div>
{% endif %}
{% endblock %}