{% extends 'customer_base.html' %}

{% block title %}Account Details{% endblock %}

{% block stylesheet %}
#popup-1 {
	display: none;
	background-color: rgba(255,0,0,1);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.popup-content {
	position: relative;
	padding: 20px;
	margin: 0 auto;
	background-color: white;
    border: 1px solid black;
	width: 400px;
	top: 5vh;
    }

    th, td {
	    border-bottom: 1px solid black;
        padding: 7px;
    }

    .orderdetail{
        background-color: red;
        color: white;
    }

    .itemlist{
        background-color: green;
        color: white;
    }

{% endblock %}

{% block content %}
        <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Home</a></li>
            <li><a class="list-a-nav" href={% url "menu" %}>Menu</a></li>
            <li><a class="list-a-nav" href="{% url "order" %}">Order</a></li>
            <li><a class="list-a-nav" href={% url "custdetail" %}>Account</li>
            {% if user.is_authenticated %}
                        <li><a class="list-a-nav" href="{% url "logout" %}">Log Out</li>
            {% else %}
                        <li><a class="list-a-nav" href="{% url "login" %}">Log In</a></li>
                        <li><a class="list-a-nav" href="{% url "custsignup" %}">Create Account</li>
            {% endif %}
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
        </ul>
        <div style="margin-left:17%; padding:24px 16px; height:100%;">
            <h1 style="text-align: center; font-weight: bolder">Your Account Details</h1>
            {% if user.is_authenticated %}
                <h3 style="font-weight: bold; text-align: center">Logged in as {{  user.username }}. Not {{ user.username }}? <a href="{% url 'logout' %}">Log out</a></h3>
                <h3 style="font-weight: bold; text-align: center; padding: 25px;">Account</h3>
                        <table style="width:67%; margin: 0 auto; background-color: rgba(255,255,255,0.85); padding: 750px; filter: drop-shadow(3px 3px 2px #8f8f8f);">
                        <tr>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email address</th>
                            <th>Password</th>
                        </tr>
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td><a href="{% url 'password_reset' %}">Change password</a></td>
                            <td><button id="showpopup">Update info</button></td>
                        </tr>
                    </table>
                <h3 style="font-weight: bold; text-align: center; padding: 25px">Your Order History</h3>
                {% for order in orders %}
                <div style="padding-top: 40px">
                    <table style="width:67%; margin: 0 auto; background-color: rgba(255,255,255,0.85); padding: 750px; filter: drop-shadow(3px 3px 2px #8f8f8f);">
                        <tr>
                            <th class="orderdetail">Order ID</th>
                            <th class="orderdetail">Order Date</th>
                            <th class="orderdetail">Order Total</th>
                            <th class="orderdetail">Order Status</th>
                        </tr>
                        <tr>
                            <td>{{ order.order }}</td>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.total }}</td>
                            {% if order.complete == 0 %}
                                <td>In progress</td>
                            {% else %}
                                <td>Completed</td>
                            {% endif %}
                        </tr>
                        <table style="width: 67%;margin: 0 auto; background-color: rgba(255,255,255,0.85); filter: drop-shadow(3px 3px 2px #8f8f8f);">
                            <tr>
                                <th class="itemlist">Items</th>
                                <th class="itemlist">Quantity</th>
                            </tr>
                         {% for item in order.customerorders_set.all %}
                            <tr>
                                <td>{{ item.menu_item_id.name }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                     {% endfor %}
                        </table>
                    </table>
                </div>
                {% endfor %}
                    <div id="popup-1">
                        <div class="popup-content">
                            <h2>Update info</h2>
                             <form action="" method="post" enctype="multipart/form-data"><form style="width:100%">
                                 {% csrf_token %}
                                 {{ form.management_form }}
                                <p>{{ form.as_p }}</p>
                                <button id="close-popup-1">Close</button>
                                <input type="submit" value="Update info">
                             </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <meta http-equiv="refresh" content="0; URL={% url "login" %}"/>
            {% endif %}
    <script>
        const popup1 = document.getElementById("popup-1");
        const openPopup1 = document.getElementById("showpopup");
        const closePopup1 = document.getElementById('close-popup-1');

        showpopup.addEventListener('click', () => {
            popup1.style.display = "block";
        })

        closePopup1.addEventListener('click', () => {
            popup1.style.display = "none";
        })
    </script>
{% endblock %}