{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

        li h4 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
        <ul>
            <li><h1>Your Favorite Restaurant</h1></li>
            <li><a href="/">Home</a></li>
            <li><a href="customer/menu">Menu</a></li>
            <li><h4>Powered by Food for Thought</h4></li>
        </ul>
        <div style="margin-left:17%;padding:1px 16px;height:1000px;">
            <h1>Welcome to your favorite restaurant, powered by the Food For Thought restaurant interface.</h1>
            <a href="management/accounts/login">Employee Login</a>
        </div>
{% endblock %}