{% extends 'customer_base.html' %}

{% block title %}Menu{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
         <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Home</a></li>
            <li><a class="list-a-nav" href={% url "menu" %}>Menu</a></li>
            <li><a class="list-a-nav" href="{% url "order" %}">Order</a></li>
            <li><a class="list-a-nav" href={% url "custdetail" %}>Account</li>
            {% if user.is_authenticated %}
                        <li><a class="list-a-nav" href="{% url "logout" %}">Log Out</a></li>
            {% else %}
                        <li><a class="list-a-nav" href="{% url "login" %}">Log In</a></li>
                        <li><a class="list-a-nav" href="{% url "custsignup" %}">Create Account</a></li>
            {% endif %}
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
        </ul>
        <div style="margin-left:17%; padding:24px 16px; height:100%;">
            <h1 style="text-align: center; font-weight: bolder">Menu</h1>
            <h2 style="text-align: center; font-style: italic; padding: 20px 20px;">Hungry? Of course you are! Order on our <a href="{% url "order" %}">ordering page!</a></h2>
                    <table style="width:100%">
                    <tr style="font-size: x-large">
                        <th>Item</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                        {% for item in items %}
                            <tr>
                                <td><h3 style="font-weight: bolder">{{ item.name }}</h3></td>
                                <td><h3>${{ item.price }}</h3></td>
                                <td><p style="font-size: x-large">{{ item.description }}</p></td>
                                <td style="padding-top: 15px"><img src="{{ item.image }}" alt="Food image" style="width:320px; height:214px; filter: drop-shadow(3px 3px 2px #000000);"></td>
                            </tr>
                        {% endfor %}
                    </table>
        </div>
{% endblock %}