{% extends 'customer_base.html' %}

{% block title %}Order Confirmed{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
        <div style="margin-left:17%;padding:24px 16px;height:1000px;">
            <h1 style="font-weight: bold; text-align: center;">Thank you {{  user.username }}! Your order has been confirmed.</h1>
            <h2 style="font-weight: bold; text-align: center; padding: 20px 20px;">Your order number is {{ new_id }}. Please take note of this order number when you arrive at the restaurant. A confirmation email has been sent to {{ user.email }}.</h2>
            <h3>Order contents</h3>
        <table style="width: 33%">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
            {% for item in results %}
                <tr>
                        <td>{{ item.0 }}</td>
                        <td>{{ item.1 }}</td>
                </tr>
            {% endfor %}
        </table>
            <h3>Order total (pre-tax)</h3>
            <p>${{ total }} paid using card ending in {{ cardno }}</p>
        </div>
{% endblock %}