{% extends 'customer_base.html' %}

{% block title %}Order Now{% endblock %}

{% block stylesheet %}
    #items {
      float: left;
      height: 100%;
      width: 50%;
      padding: 0 10px;
    }

    #boxes {
      width: 50%;
      float: right;
      height: 100%;
      padding: 0 10px;
    }

    #popup-1 {
        display: none;
        background-color: rgba(255,0,0,1);
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .popup-content {
        position: relative;
        padding: 20px;
        margin: 0 auto;
        background-color: white;
        border: 1px solid black;
        width: 400px;
        top: 5vh;
    }

   td {
    padding-top: 14px;
    }
{% endblock %}

{% block content %}
        <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Home</a></li>
            <li><a class="list-a-nav" href={% url "menu" %}>Menu</a></li>
            <li><a class="list-a-nav" href="{% url "order" %}">Order</a></li>
            <li><a class="list-a-nav" href={% url "custdetail" %}>Account</li>
            {% if user.is_authenticated %}
                        <li><a class="list-a-nav" href="{% url "logout" %}">Log Out</li>
            {% else %}
                        <li><a class="list-a-nav" href="{% url "login" %}">Log In</a></li>
                        <li><a class="list-a-nav" href="{% url "custsignup" %}">Create Account</li>
            {% endif %}
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
        </ul>
        <div style="margin-left:17%; padding:24px 16px; height:100%;">
            <h1 style="text-align: center; font-weight: bolder">Order from Frankie's Italian Cuisine!</h1>
            {% if user.is_authenticated %}
                <h3 style="font-weight: bold; text-align: center">Logged in as {{  user.username }}. Not {{ user.username }}? <a href="{% url 'logout' %}">Log out</a></h3>
            {% else %}
                <meta http-equiv="refresh" content="0; URL={% url "login" %}"/>
            {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div>
                <div id="items">
                <table style="width:100%; margin: 0 auto;">
                            <tr>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                                {% for item in items %}
                                    <tr style="height: 36px">
                                        <td style="padding-top: 65px">{{ item.name }}</td>
                                        <td style="padding-top: 65px">${{ item.price }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                </div>
                <div id="boxes">
                          <table style="width:25%;">
                                <tr>
                                <th>Quantities</th>
                                </tr>
                            {{ formset.management_form }}
                            {% for n_formset in formset %}
                                <tr>
                                <td>{{ n_formset.as_p }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
            </div>
            <div id="popup-1">
                <div class="popup-content">
                    <h2>Payment</h2>
                        {{ cardform.management_form }}
                        <p>{{ cardform.as_p }}</p>
                        <button id="close-popup-1">Close</button>
                        <input type="submit" value="Pay now">
                </div>
            </div>
            </form>
            <button id="showpopup" style="width: 100%; height: 40px;">Pay for order</button>
        </div>

    <script>
        const popup1 = document.getElementById("popup-1");
        const openPopup1 = document.getElementById("showpopup");
        const closePopup1 = document.getElementById('close-popup-1');

        showpopup.addEventListener('click', () => {
            popup1.style.display = "block";
        })

        closePopup1.addEventListener('click', () => {
            popup1.style.display = "none";
        })
    </script>
{% endblock %}