{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

        li h4 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
        <ul>
            <li><h1>Frankie's Italian Cuisine</h1></li>
            <li><a href={% url "cust_home" %}>Home</a></li>
            <li><a href={% url "menu" %}>Menu</a></li>
            <li><a href="{% url "order" %}">Order</a></li>
            <li><h4>Powered by Food for Thought</h4></li>
        </ul>
        <div style="margin-left:17%;padding:1px 16px;height:1000px;">
            <h1>Order from Frankie's Italian Cuisine!</h1>
            {% if user.is_authenticated %}
                <h2>Logged in as {{  user.username }}. Not {{ user.username }}? <a href="{% url 'logout' %}">Log out</a></h2>
            {% else %}
                <meta http-equiv="refresh" content="0; URL={% url "login" %}"/>
            {% endif %}
        <form action="" method="post" enctype="multipart/form-data"><table style="width:100%">
        {% csrf_token %}
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>${{ item.price }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table>
                        {{ formset.management_form }}
                        {% for formset in formset %}
                            <td>{{ formset.as_table }}</td>
                        {% endfor %}
                    </table>
                <input type="submit" value="Order now!">
        </form>
        </div>
{% endblock %}