{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

#liststyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
    li h2 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

        li h4 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{%  endblock %}

{% block content %}
    <ul id="liststyle">
        <li><h1>Food for Thought</h1></li>
        <li><h2>Frankie's Italian Cuisine</h2></li>
        <li><a href="{% url 'cust_home' %}">Customer Home</a></li>
    </ul>
      <div style="margin-left:17%;padding:1px 16px;height:1000px;">
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
      </div>
{% endblock %}