{% extends 'customer_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block stylesheet %}
    .errorlist{
    color: red;
    font-weight: bold;
    }
    label{
        font-size: x-large;
    }
    ul:not(.ul-nav){
    font-size: x-large;
    }
    span{
    font-size: x-large;
    }
{%  endblock %}

{% block content %}
    <ul class="ul-nav">
            <li><h1 class="list-h1-nav">Frankie's Italian Cuisine</h1></li>
            <li><a class="list-a-nav" href={% url "cust_home" %}>Customer Home</li>
            <li><a class="list-a-nav" href="{% url "cust_home" %}">Powered by Food for Thought</a></li>
        </ul>
      <div style="margin-left:17%; padding:24px 16px; height:100%;">
      <h2 style="font-weight: bolder">Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
      </form>
      </div>
{% endblock %}