{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17%;
  background-color: #cc0000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

    li h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}


li a.active {
  background-color: maroon;
  color: white;
}

li a:hover:not(.active) {
  background-color: maroon;
  color: white;
}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <ul>
        <li><h1>Food for Thought</h1></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'home' %}">Suppliers</a></li>
        <li><a href="{% url 'home' %}">Recipes</a></li>
    </ul>
    <div style="margin-left:17%;padding:1px 16px;height:1000px;">
    <h1>Inventory</h1>
        {% if items %}
            <table style="width:100%">
            <tr>
                <th>Item</th>
                <th>Quantity (in units)</th>
                <th>Restock level (in units)</th>
                <th>Restock date</th>
            </tr>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.restock_quantity }}</td>
                        <td>{{ item.restock_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Nothing is in stock apparently</p>
        {% endif %}
    </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
         <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% endif %}
{% endblock %}